{% load static %}
<html lang="en">


    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dashboard - Mazer Admin Dashboard</title>
        
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
        <link rel="stylesheet" href=" {% static '/css/bootstrap.css' %}">

        {% comment %} CSS from Vendors {% endcomment %}

        <link rel="stylesheet" href="{% static '/vendors/iconly/bold.css' %}">
        <link rel="stylesheet" href=" {% static '/vendors/perfect-scrollbar/perfect-scrollbar.css' %}">
        <link rel="stylesheet" href=" {% static '/vendors/bootstrap-icons/bootstrap-icons.css' %}">
        <link rel="stylesheet" href="{% static '/vendors/simple-datatables/style.css' %}">
        <script src="{% static '/vendors/simple-datatables/simple-datatables.js' %}"></script>

        {% comment %} CSS Codeable {% endcomment %}

        <link rel="stylesheet" href=" {% static '/css/app.css' %}">
        <link rel="shortcut icon" href=" {% static '/images/favicon.svg' %}" type="image/x-icon">
    </head>

    <body>
        <div id="app">
            <div id="sidebar" class="active">
                <div class="sidebar-wrapper active">
        <div class="sidebar-header">
            <div class="d-flex justify-content-between">
                <div class="logo">
                    <p>Arkonin MS</p>
                </div>
                <div class="toggler">
                    <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                </div>
            </div>
        </div>
        <div class="sidebar-menu">
            <ul class="menu">
                <li
                    class="sidebar-item">
                    <a href="{% url 'home'  %}" class='sidebar-link'>
                        <i class="bi bi-grid-fill"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                {% comment %} Hanya untuk User yang udah registrasi {% endcomment %}
                {% if user.is_authenticated %}
                <li
                    class="sidebar-item  has-sub">
                    <a href="#" class='sidebar-link'>
                        <i class="bi bi-file-person"></i>
                        <span>Profile</span>
                    </a>
                    <ul class="submenu ">
                        <li class="submenu-item ">
                            <a href="component-alert.html">Akun Anda</a>
                        </li>
                        <li class="submenu-item ">
                            <a href="{% url 'update-profile' user.id %}">Ubah Setelan</a>
                        </li>
                        <li class="submenu-item ">
                            <a href="component-breadcrumb.html">Ubah Profile</a>
                        </li>
                        <li class="submenu-item ">
                            <a href="component-button.html">Lupa Password?</a>
                        </li>
                    </ul>
                </li>
                {% if request.user.is_superuser %}
                <li class="sidebar-item  has-sub">
                    <a href="#" class='sidebar-link'>
                        <i class="bi bi-collection-fill"></i>
                        <span>Administration</span>
                    </a>
                    <ul class="submenu ">
                        <li class="submenu-item ">
                            <a href="extra-component-avatar.html">Tambah Tenaga Ahli</a>
                        </li>
                        <li class="submenu-item ">
                            <a href="extra-component-sweetalert.html">Tambah Jabatan</a>
                        </li>
                        <li class="submenu-item ">
                            <a href="{% url 'add-employee'%}">Tambah Karyawan</a>
                        </li>
                        <li class="submenu-item ">
                            <a href="extra-component-rating.html">List Tenaga Ahli</a>
                        </li>
                        <li class="submenu-item ">
                            <a href="extra-component-divider.html">List Jabatan</a>
                        </li>
                        <li class="submenu-item ">
                            <a href="{% url 'employee' %}">List Karyawan</a>
                        </li>
                    </ul>
                </li>
                {% endif %}
                
                <li
                    class="sidebar-item  has-sub">
                    <a href="#" class='sidebar-link'>
                        <i class="bi bi-grid-1x2-fill"></i>
                        <span>Project</span>
                    </a>
                    <ul class="submenu ">
                        {% if request.user.is_superuser %}
                        <li class="submenu-item ">
                            <a href="{% url 'add-project' %}">Tambah Projek</a>
                        </li>
                        {% endif %}
                        <li class="submenu-item ">
                            <a href="layout-vertical-1-column.html">Projek Saya</a>
                        </li>
                        <li class="submenu-item ">
                            <a href="{% url 'project' %}">List Projek</a>
                        </li>
                    </ul>
                </li>
                
                <li class="sidebar-item">
                <a href="{% url 'logout'  %}" class='sidebar-link'>
                    <i class="bi bi-door-open"></i>
                    <span>Logout</span>
                </a>
            </li>
            {% else %}
            <li class="sidebar-item">
                <a href="{% url 'login'  %}" class='sidebar-link'>
                    <i class="bi bi-door-closed"></i>
                    <span>Login</span>
                </a>
            </li>
            {% endif %}
                
                
            </ul>
        </div>
        <button class="sidebar-toggler btn x"><i data-feather="x"></i></button> 
        </div>
            </div>
            <div id="main">
                <header class="mb-3">
                    <a href="#" class="burger-btn d-block d-xl-none">
                        <i class="bi bi-justify fs-3"></i>
                    </a>
                </header>
            {% block content %}

            {% endblock %}
        
            {% comment %}  Ini fungsi validasi untuk tanggal selesai seharusnya lebih besar daripada tanggal mulai tapi entah kenapa scriptnya masih bisa belum jalan *masih error{% endcomment %}
        <script>
            function dateCheck(){
                let startDate = new Date($("#startdate").val());
                let endDate = new Date($("#enddate").val());
            
                if(startDate > endDate) {
                    alert("End date need to be bigger then start date");
                }
            }
            
            $( document ).ready(function() {
                console.log( "ready!" );
                
                $("#enddate").next().on("dp.change", function(ev) { 
                    console.log("Dp change",ev);
                    dateCheck(); 
                });
            });
            {% comment %} End Comment  {% endcomment %}
        </script>
        <script src="{% static '/vendors/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>
        <script src="{% static '/js/bootstrap.bundle.min.js' %}"></script>
            
        <script src="{% static '/vendors/apexcharts/apexcharts.js' %}"></script>
        <script src="{% static '/js/pages/dashboard.js' %}"></script>
        
        <script src="{% static '/js/mazer.js' %}"></script>
    </body>
</html>
