{% extends 'base.html '%}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Horizontal Input</h4>
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <p>To make label in center of form-control, use <code>.col-form-label</code> class with
                            <code>&lt;label&gt;</code> element. This is default bootstrap class.
                        </p>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row align-items-center">
                           {{ form }}
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}