{% extends 'base.html '%}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Input Karyawan</h4>
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <p>Masukkan Data Karyawan Disini</p>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row align-items-center">
                        <form class="form form-horizontal" method="POST" enctype="multipart/form-data">
                            <div class="form-body">
                                <div class="row">
                                    {% csrf_token %}
                                    <div class="form-body">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label> Username </label>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="form-group has-icon-left">
                                            <div class="position-relative">
                                               {{ form.user }}
                                                <div class="form-control-icon">
                                                    <i class="bi bi-file-person"></i>
                                                </div>
                                            </div>
                                        </div>
                                        {% if form.errors %}
                                        <small class="text-danger red">{{ form.errors.user}}</small>
                                        {% endif %}
                                    </div>
                                    <div class="form-body">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label> NIP </label>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="form-group has-icon-left">
                                            <div class="position-relative">
                                               {{ form.nip }}
                                                <div class="form-control-icon">
                                                    <i class="bi bi-card-text"></i>
                                                </div>
                                            </div>
                                        </div>
                                        {% if form.errors %}
                                        <small class="text-danger red">{{ form.errors.nip}}</small>
                                        {% endif %}
                                    </div>
                                    <div class="form-body">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label> Nama </label>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="form-group has-icon-left">
                                            <div class="position-relative">
                                               {{ form.name }}
                                                <div class="form-control-icon">
                                                    <i class="bi bi-person"></i>
                                                </div>
                                            </div>
                                        </div>
                                        {% if form.errors %}
                                        <small class="text-danger red">{{ form.errors.name}}</small>
                                        {% endif %}
                                    </div>
                                    <div class="form-body">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label>  Divisi </label>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="form-group has-icon-left">
                                            <div class="position-relative">
                                               {{ form.division }}
                                                <div class="form-control-icon">
                                                    <i class="bi bi-bookmark"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-body">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label> Jabatan </label>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="form-group has-icon-left">
                                            <div class="position-relative">
                                               {{ form.grade }}
                                                <div class="form-control-icon">
                                                    <i class="bi bi-briefcase"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-body">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label> Alamat  </label>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="form-group has-icon-left">
                                            <div class="position-relative">
                                               {{ form.address }}
                                                <div class="form-control-icon">
                                                    <i class="bi bi-house"></i>
                                                </div>
                                            </div>
                                        </div>
                                        {% if form.errors %}
                                        <small class="text-danger red">{{ form.errors.address}}</small>
                                        {% endif %}
                                    </div>
                                    <div class="form-body">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label> Email </label>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="form-group has-icon-left">
                                            <div class="position-relative">
                                               {{ form.email }}
                                                <div class="form-control-icon">
                                                    <i class="bi bi-envelope"></i>
                                                </div>
                                            </div>
                                        </div>
                                        {% if form.errors %}
                                        <small class="text-danger red">{{ form.errors.email}}</small>
                                        {% endif %}
                                    </div>
                                    <div class="form-body">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label> Profile Picture </label>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="form-group has-icon-left">
                                            <div class="position-relative">
                                               {{ form.profile_pic }}
                                                <div class="form-control-icon">
                                                    <i class="bi bi-image"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br/>
                                    <button style="margin-top:25px;" class="btn btn-lg btn-outline-primary">Submit</button>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}